/*!
Theme Name: Val
Author: Queno Purificacion.

Description: A custom theme for VAL
Version: 0.1
*/

@import "variables";
@blue: #0076c0;

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

p {
    color: #61606e;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 20px;

    a {
        color: #0076c0;
    }
}

ul {
    margin-left: 20px;
    padding-left: 0px;
    margin-bottom: 20px;

    li {
        color: #61606e;
        line-height: 30px;
        font-size: 18px;
    }
}

h2,
h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 100;
    color: @blue;
    margin-bottom: 20px;
}

h3 {
    color: #0076c0;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

h5 {
    margin-bottom: 20px;

    a {
        font-size: 18px;
        border: 3px solid #fff;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 13px 65px;
        text-decoration: none;
        font-weight: bold;
    }
}

.img-responsive {
    max-width: 100%;
}

body {
    position: relative;
}

.white {

    p,
    h2,
    h3,
    h4,
    h5 {
        color: #fff;
        margin-bottom: 20px;
    }
}

.header-spacer {
    height: 110px;
    width: 100%;
    clear: both;
    display: none;

    &.active {
        display: block;
    }
}

.aligncenter {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.btn-curve-white {
    border: 3px solid #fff;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 13px 65px;
    text-decoration: none;
    font-weight: bold;
}

.flexslider {
    border: 0px !important;
    margin-bottom: 0px;

    .flex-direction-nav {
        .flex-next {
            right: 0px;
        }
    }

    .flex-direction-nav {
        .flex-prev {
            left: 0px;
        }
    }

    .flex-control-paging {
        display: none;
    }
}

header {
    width: 100%;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
    z-index: 11;

    h1 {
        font-size: 30px;
        text-indent: 40px;
        font-weight: bold;
    }

    .header-container {
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        padding: 20px 0;
    }

    &.shrink {
        /*padding: 20px 0;	*/
        position: fixed;
        top: 0;

        .header-container {
            padding: 10px 0;
        }
    }

    ul#menu-main-menu {
        float: right;

        li {
            list-style: none;

            a {
                color: #000;
                padding: 10px;
                font-size: 12px;
                text-transform: uppercase;
                
                &:hover {
                    color:#0076c0;
                }
            }

            &.menu-item.current-menu-item.current_page_item {
                a {
                    color: #0076c0;                    
                }
            }

            &.menu-item-has-children {
                position: relative;

                ul.sub-menu {
                    display: none;
                    position: absolute;
                    min-width: 250px;
                    background-color: #fff;
                    margin: 0;
                    border: 1px solid #e5e5e5;

                    li {
                        font-size: 14px;
                        line-height: normal;
                        width: 100%;

                        a {
                            display: block;
                            border-bottom: 1px solid #e5e5e5;                            
                        }

                        &:last-child {
                            a {
                                border-bottom: 0px;
                            }
                        }
                    }
                }
            }
            &.menu-item-has-children:hover {
                ul.sub-menu {
                    display: block;
                    li {
                        a:hover {
                            color: #0076c0;
                        }
                    }
                }
            }
        }
    }

}

.navigation {
    ul {
        li {
            display: inline-block;
            list-style: none;
        }
    }
}


section {
    width: 100% !important;
    display: block;
    clear: both;
    background-position: top center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;

    &.scroll_banner {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 10;

        .masking {
            width: 100%;
            height: 100vh;
            opacity: .75;
        }


        .spacer {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            text-align: center;

            img {
                margin-bottom: 23%;
            }
        }
    }

    &.content-thumbnail {

        .spacer {
            padding: 60px 0;
        }

        ul {
            &.container-list {
                text-align: center;
                padding-top: 50px;

                li {
                    &.cthumb {
                        width: 245px;
                        height: 75px;
                        background-position: top center !important;
                        background-repeat: no-repeat !important;
                        padding: 150px 0px 0px;
                        list-style: none;
                        display: inline-block;

                        h4 {
                            height: 40px;
                            overflow: hidden;
                        }

                        a {
                            color: #e5e5e5;
                        }

                        &:hover {
                            a {
                                color: #013e5d;
                            }
                        }
                    }
                }
            }
        }
    }

    &.carousel_banner {
        .container {
            position: relative;

            .caption {
                background: url(../../img/strip-black.png) repeat top left;
                max-width: 640px;

                position: absolute;
                bottom: 130px;
                bottom: 12vh;
                padding: 35px;
                border: 1px solid #969696;

                p {
                    color: #fff;
                }

                &.right {
                    right: 0px;
                }

                &.left {
                    left: 0px;
                }

                &.center {
                    right: 0px;
                    left: 0px;
                    margin: 0 auto;
                }
            }
        }
    }

    &.content {
        padding: 60px 0px;
    }

    &.content-grid {
        .spacer {
            padding: 90px 0;

            p {
                color: #000;
            }

            h5 {
                a {
                    color: #000;
                    border-color: #000;
                }
            }

            .none {
                float: none;
            }

            .right {
                float: right;
            }

            .left {
                float: left;
            }

            .center {
                margin: 0 auto;
                float: none;
            }
        }
    }

    &.content-repeater {
        .spacer {
            padding: 60px 0;

            .content_grid_6 {
                h3 {
                    margin-top: 20px;
                }

                p {
                    margin-bottom: 0px;
                }
            }
        }
    }

    &.image-position {
        background-color: #fff;

        .spacer {
            padding: 95px;
        }

        h2 {
            margin-bottom: 40px !important;
        }

        .top {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 20px;
        }

        .left {
            float: left;
            margin-right: 20px;
        }

        .right {
            float: right;
            margin-left: 20px;
        }

        /*.content {
			margin-bottom: 40px;
			padding-bottom: 20px;
			border-bottom: 1px solid #e5e5e5;
		}*/
    }

    &.content-tab {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li.tabmenu {
                display: inline-block;
                background: #333;
                color: #FFF;
                border-bottom: 0;
                padding: 5px 10px;
                cursor: pointer;

                &.active {
                    background: #EEE;
                    color: #333;
                }
            }
        }

        .content {
            position: relative;

            >div {
                width: 100%;
                padding: 5px 10px;

                display: none;

                &.selected {
                    display: block;
                    background: #EEE;
                }
            }
        }
    }
}

.footer {
    background-color: #4e4e4e;
    padding-top: 45px;

    .footer-bar {
        background-color: #000;
        padding: 15px 0;

        span {
            color: #fff;
        }
    }

    .right {
        float: right;
    }
}